[Unit]
Description=CamFlow provenance service
Requires=camconfd.service
After=camconfd.service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/camflowd
Restart=always

[Install]
WantedBy=multi-user.target
